<div class="main">
  <h1>Testando template</h1>
  <h2>O que estou fazendo</h2>
  <p>só testando templates</p>
  <h2>Exercício</h2>
  <p>
    <li>Meu nome: {{ myName }}</li>
    <li>Minha idade: {{ age }}</li>
    <li>Minha data de nascimento: {{ nasc }}</li>
  </p>
  <h2>Testando Array com ngFor</h2>
  <h3>Com dados do ts</h3>
  <ul>
    <li *ngFor="let myItem of myItems">{{ myItem }}</li>
  </ul>
  <h3>Com injeção de dependência:</h3>
  <ul>
    <li *ngFor="let myItem2 of myItems2">{{ myItem2 }}</li>
  </ul>
  <h3>Explicação do que foi feito</h3>
  <p>{{ explain }}</p>
  <h3>Tentar fazer injeção de dependência novamente</h3>
  <ul>
    <li *ngFor="let food of foods">{{ food }}</li>
  </ul>
</div>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>