<div class="mainbox">
  <div class="secondbox">
    <h1>Angular Tutorial - 18 - Dependency Injection
    </h1>
    <a href="https://www.youtube.com/watch?v=OFPIGlxunL0&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=18">class</a>

    <h2>Id</h2>
    <ul *ngFor='let person of persons'>
      <li>{{ person.id }}</li>
      <br>
      <li>{{ "o nome da pessoa é " + person.name }}</li>
      <br>
      <li>{{ "a profissão da pessoa é " + person.profession }}</li>
    </ul>
  </div>
  <br>
  <p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>
  <h1>Angular Tutorial - 17 - Services
  </h1>
  <a href="https://www.youtube.com/watch?v=pwuGBvOPFYI&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=17">class</a>
  <h2>Names</h2>
  <ul *ngFor='let person of persons'>
    <li>{{ person.name }}</li>
  </ul>
</div>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>