<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>
<div class="mainbox">
  <h1>Curso Angular #14: Emitindo Eventos com Output properties
  </h1>
  <div>

    <button class="btn btn-primary" (click)="decrementa()">- 1</button>
    <input type="text" value="{{ value }}" readonly><button class="btn btn-primary" (click)="incrementa()">+ 1</button>

  </div>

</div>

<div class="mainbox">
  <h1>Curso Angular 13: Emitindo eventos - #11
  </h1>
  <a href="https://www.youtube.com/watch?v=T6gD9mJ27Gw">Link da Aula</a>
  <p>oi
  </p>
  <div class="mainbox">
    <h1> Angular Component Interaction - 6 - ViewChild Decorator
    </h1>
    <a href="https://www.youtube.com/watch?v=lreYTcPxPRk">Aula</a>
    <br>
    <input #nameRef type="text">
  </div>
</div>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>