<h1>Meus estudos de Angular</h1>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p>
<h1>Viswas's Course</h1>

<vish></vish>
<br><br><br>
<h1>Loiane's Course</h1>
<app-first-component></app-first-component>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>
<app-second-component></app-second-component>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>

<app-third-component></app-third-component>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>

<app-fourth-component></app-fourth-component>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>

<app-fifth-component></app-fifth-component>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>

<app-sixth-component></app-sixth-component>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>

<app-pai></app-pai>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>

<app-cicles [valorinicial]="valorinicial" *ngIf="!delete"></app-cicles>
<button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
<button class="btn btn-secondary" (click)="deletarCiclo()">Destruir Ciclo</button>
<br><br>