<app-class-fifteen (changeNumber)="onChangeNumber()"></app-class-fifteen>
<app-class-fifteen [nomeDaPessoa]="Gabi"></app-class-fifteen>
<app-class-five [nomeDaPessoa]="Arthur"></app-class-five>
<br><br>
<div class="secondbox">
  <h1>Angular Tutorial - 4 - Components
  </h1>
  <a href="https://www.youtube.com/watch?v=16rQyEQtpyQ&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=4">Class</a>
  <h2>Template</h2>
  <p>View / Html</p>
  <h2>Class</h2>
  <p>Code / td / data & Methods</p>
  <h2>Metadata</h2>
  <p>Information that Angular needs to decide if it's an Angular component or a regular class.
    <br>
    Defined using a decorator (feature of Ts)
  </p>
  <h2>Component</h2>
  <p>
    selector: 'vish',
    templateUrl: './vish.component.html',
    styleUrls: ['./vish.component.scss'],
  </p>
  <h2>didn't know:</h2>
  <h3>Tag</h3>
  <p>there are 3 ways to specify the selector at our component:
    <br>
  <ul>
    <li>as a tag</li>
    <li>as a class - with dot (.)</li>
    <li>as an atribute - with square brackets - []</li>
  </ul>
  <h3>Template and CSS</h3>
  <p>And you can display the template and the css as inline, just remove 'url' from the @component <br>
</div><br><br>
<div class="secondbox">
  <h1>Angular Tutorial - 3 - Hello World App
  </h1>
  <a href="https://www.youtube.com/watch?v=mDoHtD1hI3I&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=3">Class</a>
  <h2>Module - Feature Area</h2>
  <p>We can have a users module and an admins module</p>
  <h2>Components</h2>
  <p>Areas of the template</p>
</div>
<br><br>
<div class="secondbox">
  <h1>Angular Tutorial - 2 - Getting Started
  </h1>
  <a href="https://www.youtube.com/watch?v=FVPGJHinItI&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=2">Class</a>
  <p>
  <ul>
    <li>Node Js</li>
    <li>CLI</li>
    <li>Js</li>
    <li>Ts</li>
  </ul>
</div><br><br>

<div class="secondbox">
  <h1>Angular Tutorial - 1 - Introduction
  </h1>
  <a href="https://www.youtube.com/watch?v=0eWrpsCLMJQ&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=1&t=202s">Class</a>
  <h2>Version</h2>
  <p>
    Angular 5
  </p>
</div>