.change {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px black;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.times-new-roman {
  font-family: "Times New Roman", Times, serif;
}
.pt-sans {
  font-family: Pt Sans;
}

.trebuchet {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.calibri {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.pt-sans {
  font-family: Pt Sans;
}
.arial-narrow {
  font-family: Arial Narrow;
}
.fira-sans {
  font-family: Fira Sans;
}
