<div class="mainbox">
  <h1>{{ title1 }}</h1>
  <h2>Objetivo da aula</h2>
  <p>Praticar interpolação e declaração de templates</p>
  <h2>Prática da aula</h2>
  <h3>Interpolação - Sub 1st</h3>
  <app-sub-first></app-sub-first>
  <h3>Interpolação - Sub 2nd</h3>
  <br>
  <p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>
  <app-sub-second></app-sub-second><br>
  <p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>
  <app-sub-third></app-sub-third>
  <br>
  <p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>
</div>