<div class="mainbox">
  <h1>{{ title2 }}</h1>
  <h2>Objetivo da aula</h2>
  <p>Praticar a criação de módulos que não são o AppModule</p>
  <h2>O que fiz</h2>
  <p>
    <li>Criei um novo módulo (submodule)</li>
    <li>Criei um componente (second-component) dentro da pasta desse módulo</li>
    <li>Exportei o módulo Submodule e importei a classe no AppModule</li>
  </p>
</div>
<br>
<p>Nota: Esta aplicação não tem nenhum propósito específico que não seja servir de histórico para meus estudos de Angular.</p><br>